@import "veriable";
@import "button";
@import "input";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: $inter
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header-top {
  color: $primary-color;
  font-weight: 600;

  .owl-carousel .owl-next {
    position: absolute;
    top: 8px;
    transform: translateY(-50%);
    color: #000 !important;
    width: 20px;
    height: 20px;
    font-weight: bold;
    padding: 15px !important;
    text-align: center;
    right: 0;
  }

  .owl-carousel .owl-prev {
    position: absolute;
    top: 8px;
    transform: translateY(-50%);

    color: #000 !important;
    width: 20px;
    height: 20px;
    font-weight: bold;
    padding: 15px !important;
    text-align: center;
    left: 0;
  }

  .owl-nav {
    margin: 0;
  }
}

// navbar

.logo-section {
  padding: 10px 0;
  background-color: $primary-color;
  color: #fff;


  .logo {
    width: 100px;
  }

  .left-side-lg {
    img {
      width: 20px;
    }

    span {
      font-size: 14px;
    }
  }

  .left-side-md {
    img {
      width: 20px;
    }
  }

  .input-group {
    border: 0px;
    background-color: #fff;
    border-radius: 50px;

    .form-control {
      border: 0px;
      border-radius: 0px;
      background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }

    .input-group-text {
      border: 0px;
      border-radius: 0px;
      background-color: transparent;
    }
  }


}



// banner
.banner {
  background-color: $bg-color;

  .carousel-indicators {
    align-items: center;

    button {
      height: 8px;
      width: 8px;
      border-radius: 100%;
    }
  }

  .carousel-indicators .active {
    background-color: $primary-color !important;
    height: 13px;
    width: 13px;
  }

  ul {
    li {
      border: 0;
      display: flex;
      font-size: 14px;
      padding: 8px 16px;

      img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }

    .active {
      background-color: $white;
      color: $primary-color;
    }
  }

  .left-card {
    font-family: $zodiak;

    h6 {
      font-weight: 600;
    }

    .display-4 {
      font-weight: 700;
    }

    .discount {
      color: $primary-color;
    }

    .get-now {
      font-size: 14px;
    }
  }

  #brand-slider {
    img {
      width: 80px;
    }

    h6 {
      font-size: 14px;
    }

    // 


  }

  .owl-carousel .owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #fff !important;
    color: #000 !important;
    font-size: .8em !important;
    width: 25px;
    height: 25px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
    right: 0;
    border: 1px solid #DDDFDF;
  }

  .owl-carousel .owl-prev {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #fff !important;
    color: #000 !important;
    font-size: .8em !important;
    width: 25px;
    height: 25px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
    left: 0;
    border: 1px solid #DDDFDF;
  }

  .star-card {
    background-color: #f7f8f8;

    h6 {
      color: #1A2626;
    }

    p {
      color: #676E6E;
      font-size: 14px;
    }
  }
}

// shop-department 
.shop-department {
  h6 {
    font-family: $zodiak;
    font-weight: 600;
  }

  background-color: $bg-color;

  p {
    color: #050F1A;
    font-size: 14px;
  }
}

// deal-of-the-day
.deal-of-the-day {
  background-color: $bg-color;

  h6 {
    font-family: $zodiak;
    font-weight: 600;
  }

  .card-img {
    width: 290px;
    border-radius: 0;
  }

  .d-flex {
    gap: 8px;
  }

  .rating {
    .fa-star {
      color: #FFD800;
      font-size: 14px;


    }

    .gray {
      color: #D4D6D6 !important;
    }

  }

  .item-discount {

    span {
      font-size: 20px;
    }

    .fw-bold {
      font-size: 34px;
      margin-left: 3px;
    }

    .discount {
      margin-left: 10px;
      color: #676E6E;
    }
  }

  .text-gray {
    color: #676E6E;
    font-weight: 500;
    font-size: 14px;
  }

  .justify-content-around {
    p {
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        height: 18px;
        width: 18px;
      }
    }
  }

  button {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    gap: 5px;

    img {
      height: 20px;
      width: 20px;
    }
  }


}


// selling-products

.selling-products {
  background-color: $bg-color;

  h6 {
    font-family: $zodiak;
    font-weight: 600;
  }

  img {
    width: 140px;
  }

  .d-flex {
    gap: 8px;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    color: #010E0E;

  }

  .sub-title {
    color: #010E0E;
    font-size: 14px;
  }

  .fw-bold {
    font-size: 22px;
  }

  p {
    padding: 5px 0px;
  }
}

.on-selling-products {
  background-color: $bg-color;

  h6 {
    font-weight: 600;
  }
}

// apple
.apple {
  background-color: $bg-color;

  h6 {
    font-family: $zodiak;
    font-weight: 600;

    img {
      width: 30px;
    }
  }

  p {
    font-weight: 600;
    font-size: 14px;
  }

  .more-items {
    font-size: 13px;
    color: #010E0E;
    font-weight: 600;
  }
}

// shop-categories
.shop-categories {
  background-color: $bg-color;

  h6 {
    font-family: $zodiak;
    font-weight: 600;
  }

  .d-flex {
    gap: 8px;
  }

  .card {
    background-color: #E6E7E7;

    img {
      width: 100px;
    }

    p {
      font-weight: 600;
      font-size: 14px;
    }
  }
}

// daily-discover

.daily-discover {
  background-color: $bg-color;

  .d-flex {
    h6 {
      font-family: $zodiak;
      font-weight: 600;
    }

    p {
      font-weight: 600;
      font-size: 14px;
    }
  }

  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
  }

  .rating {
    .fa-star {
      color: #FFD800;
      font-size: 14px;
    }
  }

  .review {
    font-size: 14px;
    color: #676E6E;
  }

  .discount {
    font-size: 14px;
  }

  .fw-bold {
    font-size: 18px;
  }

  .owl-carousel .owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #fff !important;
    color: #000 !important;
    font-size: .8em !important;
    width: 30px;
    height: 30px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
    right: 0;
    border: 1px solid #DDDFDF;
  }

  .owl-carousel .owl-prev {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #fff !important;
    color: #000 !important;
    font-size: .8em !important;
    width: 30px;
    height: 30px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
    left: 0;
    border: 1px solid #DDDFDF;
  }

  .owl-theme .owl-nav {
    margin-top: 0px !important;
  }
}

.top-brands {
  background-color: $bg-color;

  h6 {
    font-family: $zodiak;
    font-weight: 600;
  }

  .owl-theme .owl-nav {
    margin-top: 0px !important;
  }

  .owl-carousel .owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #fff !important;
    color: #000 !important;
    font-size: .8em !important;
    width: 30px;
    height: 30px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
    right: 0;
    border: 1px solid #DDDFDF;
  }

  .owl-carousel .owl-prev {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #fff !important;
    color: #000 !important;
    font-size: .8em !important;
    width: 30px;
    height: 30px;
    border-radius: 100% !important;
    font-weight: bold;
    padding: 10px !important;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000;
    left: 0;
    border: 1px solid #DDDFDF;
  }

  .owl-theme .owl-nav {
    margin-top: 0px !important;
  }

  p {
    font-size: 14px;
  }
}

.hot-producs {
  background-color: $bg-color;
}

// top-vendors
.top-vendors {
  background-color: $bg-color;

  h6 {
    font-family: $zodiak;
    font-weight: 600;
  }

  .vendor-img {
    width: 60px;
  }

  .d-flex {
    &:first-child {
      gap: 8px;
    }

    &:nth-child(2) {
      gap: 14px;
    }
  }


  .items {
    font-size: 14px;
  }

  .rating {
    .fa-star {
      font-size: 14px;
      color: #FFD800;
    }

    p {
      font-size: 14px;
    }
  }

  .title {
    font-size: 14px;
    font-weight: 600;
  }

  .vendor-products {
    img {
      width: 108px;
    }
  }
}

// footer
footer {
  background-color: $bg-color;

  h6 {
    font-family: $zodiak;
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }

  .d-lg-flex {
    gap: 5px;
  }

  p {
    font-size: 13px;
    opacity: 0.9;
    margin: 0;
    padding-bottom: 5px;
    color: #000;
  }

  a {
    color: #000;
    font-weight: 500;
    opacity: 0.9;

    &:hover {
      color: $primary-color;
    }
  }

  ul {
    padding: 0;

    li {
      display: inline;
      text-align: left;
      padding: 12px 14px;

      color: $secondary-color;
      background-color: #F7F8F8;


      transition: 0.7s;

      &:hover {
        color: $primary-color;
        transition: 0.7s;
      }
    }
  }

  .copyright {
    color: gray;
    text-align: center;
  }

  select {
    background-color: #F7F8F8 !important;
    border: 0 !important;
    border-radius: 0px !important;
  }
}



// footer bottom
.footer-bottom {
  background-color: #DDDFDF;

  p,
  span {
    font-size: 14px;
  }

  ul {
    display: inline;
    list-style: none;

    li {
      display: inline;
    }
  }
}

// meadia query


/* mobile  */
@media (max-width: 768px) {
  .banner-slider .slider-content-2 h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
  }

  .deal-of-the-day .card-img {
    width: 150px;
  }

  .deal-of-the-day .d-flex {
    align-items: center;
  }

  .footer-bottom {
    text-align: center;

    ul {
      display: block;
      margin-top: 10px;
    }
  }

  .card {
    .timer {
      // position: absolute !important;
      width: 100%;
      // margin: 0px 6px;
      bottom: 23px;
      margin-top: 10px;

      .bg-light {
        background-color: #F7F8F8 !important;
        padding: 10px;

        p {
          font-size: 14px;
          color: #414A4A;
        }

        h6 {
          color: #E05252;
        }
      }
    }
  }

  .header-top {
    display: none;
  }

  .top-vendors .vendor-products img {
    width: 157px;
  }
}

// tab only
@media (min-width: 768px) and (max-width: 991.98px) {
  footer ul li {
    padding: 8px 10px;
  }

  .footer-bottom {
    text-align: center;
  }

  .top-vendors .vendor-products img {
    width: 157px;
  }
}

// tab above
@media (min-width: 768px) {
  .card {
    .position-absolute {
      position: absolute !important;
      width: 278px;
      margin: 0px 6px;
      bottom: 23px;

      .bg-light {
        background-color: #F7F8F8 !important;
        padding: 10px;

        p {
          font-size: 14px;
          color: #414A4A;
        }

        h6 {
          color: #E05252;
        }
      }
    }
  }
}

// desktop  and above
@media (min-width: 992px) {
  .logo-section .input-group {
    width: 400px !important;
  }

  .left-side-md {
    display: none !important;
  }

  .middle-img {
    height: 424px;
  }
}

// xtra large
@media (min-width: 1600px) {}


// sm md 
@media (max-width: 992px) {
  .header-top {

    .owl-nav {
      display: none !important;
    }
  }

  .left-side-lg {
    display: none !important;
  }
}