* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-banner {
  background: rgba(0, 0, 0, 0) url("img/main-banner.jpg") repeat scroll 0 0 /
    cover;
  height: 70vh;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-banner {
  background: rgba(0, 0, 0, 0) url("img/mobile-banner.jpg") repeat scroll 0 0 /
    cover;
  height: 45vh;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-big-sale-img {
  background: rgba(0, 0, 0, 0) url("img/tastydaily-0455830109.jpg") repeat
    scroll 0 0 / cover;
  background-position: bottom right;
  background-size: cover;
  border-radius: 20px;
  padding: 35px 30px 60px 30px;
}

.contact-us {
  background: rgba(0, 0, 0, 0)
    url("img/raul-gonzalez-escobar-ZpIskW1Tuvc-unsplash.jpg") repeat scroll 0 0 /
    cover;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-us::after {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.accordion-button[data-bs-toggle="collapse"]::after {
  color: white;
}

/* .form-switch .form-check-input:focus {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="3" fill="%23577537"/%3e%3c/svg%3e');
}

.form-switch .form-check-input {
  background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'%3e%3ccircle r=\'3\' fill=\'rgba%280,0,0,0.25%29\'/%3e%3c/svg%3e');
} */

/* cart drawer */

.open {
  right: 0 !important;
  z-index: 2;
}

.menu-click {
  color: #577537;
  cursor: pointer;
  .fa {
    cursor: pointer;
    font-size: 2em;
    padding: 6px;
    margin-right: 8px;
  }
}

.content {
  position: relative;
}

.link {
  a {
    color: darken(#577537, 20);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.ui-loader {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 99;
}

.menu.open + .overlay {
  display: block;
}

